@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<address>
    San Francisco, CA 94109<br />
    <abbr title="Phone">P:</abbr>
    three-one-two.five-three-two.seven-one-four-three
</address>

<address>
    <strong>e-mail:</strong>   <a href="mailto:Support@example.com">shockleyme@gmail.com</a><br />
</address>